/* MARK: font */

.cursive-font {
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
}

.label-font {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* MARK: general */

:root {
  color-scheme: only light;
}

html, body {
    overscroll-behavior-y: none; 
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100dvh;
    margin: 0;
    background-color: rgb(234, 234, 234);
    color: rgb(65, 65, 65);

    transition: background-color .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body.dark {
    background-color: black;
}

img,
video {
    pointer-events: none;
}

#main-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 572px;
    margin: 0 auto;
    background: rgb(234, 234, 234);
}

#main-wrapper section {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(234, 234, 234);

    transition: transform .7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#main-wrapper section.opened {
    transform: translateY(-100%);
}

.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button.shadow {
    cursor: pointer;
    background: rgb(65, 65, 65);
    color: white;
    border: none;
    border-radius: 40px 12px 40px 12px;
    padding: 10px 30px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

button.shadow span {
    font-size: 16px;
    margin-right: 6px;
}

/* MARK: separator */

.separator {
    position: relative;
    width: 100%;
    margin: 0;
    height: 5px;
    display: block;
    text-align: center;
}

.separator span {
    display: block;
    position: relative;
    width: 5px;
    height: 5px;
    background: rgb(65, 65, 65);
    border-radius: 10px;
    margin: 0 auto;
}

.separator span::before,
.separator span::after {
    content: "";
    vertical-align: top;
    border-bottom: 1px solid rgb(65, 65, 65);
    position: absolute;
    top: 0;
    right: 9pt;
    height: 2px;
    width: 28px;
}

.separator span::after {
    left: 9pt;
    right: inherit;
}

/* MARK: cover */

section#cover {
    z-index: 9;
}

section#cover .background {
    width: 100%;
}

section#cover .background-wrapper {
    position: absolute;
    top: auto;
    bottom: 0;
}

section#cover .background-wrapper::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 51.5%;
    background-image: url(./assets/cover.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    transform: scaleY(-1);
    transform-origin: top;
}

section#cover .cover-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 310px);
}

section#cover .title-wrapper {
    position: relative;
    top: 0;
    height: 100%;
    max-height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section#cover .title-wrapper .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

section#cover .title-wrapper .headline .label {
    font-size: 14px;
    margin: 0;
    margin-bottom: 24px;
}

section#cover .title-wrapper .headline .title {
    position: relative;
    font-size: 28px;

    font-family: "Bonheur Royale", cursive;
    font-style: normal;
}

section#cover .title-wrapper .headline .title h1 {
    margin: 40px 0;
    padding-right: 28px;
}

section#cover .title-wrapper .headline .title::before {
    content: "Gina";
    position: absolute;
    right: 68px;
    top: -10px;

    font-weight: 400;
    font-size: 68px;
}

section#cover .title-wrapper .headline .title::after {
    content: "Wildan";
    position: absolute;
    left: 40px;
    bottom: 0px;

    font-weight: 400;
    font-size: 68px;
}

section#cover .title-wrapper .invitee .label {
    font-size: 14px;
    margin: 0;
    margin-bottom: 6px;
}

section#cover .title-wrapper .invitee .name {
    font-size: 28px;
    font-weight: 200;
    margin: 0;
}

section#cover .title-wrapper .invitee button {
    margin-top: 18px;
    margin-bottom: 10px;
}

/* MARK: opening */

section#opening {
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section#opening .video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#opening .video-wrapper video {
    width: auto;
    height: 60dvh;
    margin-top: 40px;
    border-radius: 80px 20px 80px 20px;
}

section#opening .ayat-wrapper .ayat {
    margin: 0 2rem 18px 2rem;
    font-size: 12px;
    font-weight: 300;
}

section#opening .ayat-wrapper .qs {
    margin: 0;
    margin-bottom: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

/* MARK: profile */

section#profile-gina {
    z-index: 7;
}

section#profile-wildan {
    z-index: 6;
}

section.profile .image-wrapper::before {
    font-family: "Bonheur Royale", cursive;
    font-style: normal;
    font-size: 64px;

    position: absolute;
}

section#profile-gina .image-wrapper::before {
    content: "Gina";
    right: -20px;
    top: -30px;
}

section#profile-wildan .image-wrapper::before {
    content: "Wildan";
    right: -30px;
    top: -30px;
}

section.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.profile .title {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

section.profile .separator {
    margin-top: 14px;
    margin-bottom: 46px;
}

section.profile .image-wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

section.profile .image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 80px 20px 80px 20px;
}

section.profile .name {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 12px;
}

section.profile .desc.label {
    font-weight: 500;
}

section.profile .desc {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

/* MARK: schedule */
section#schedule {
    z-index: 5;

    background-image: url(./assets/shadow2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section#schedule::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6e0;
}

section#schedule .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

section#schedule .wrapper>div {
    padding: 0 36px;
}

section#schedule .wrapper>div:first-child {
    margin-bottom: 52px;
}

section#schedule .title {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}

section#schedule .separator {
    margin-top: 6px;
    margin-bottom: 22px;
}

section#schedule p {
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

section#schedule p.bold {
    font-weight: 500;
}

section#schedule a {
    display: block;
    text-align: center;
    margin-top: 18px;
    text-decoration: none;
}

section#schedule button span {
    font-size: 18px;
}

/* MARK: reservation */

section#reservation {
    z-index: 4;

    background-image: url(./assets/shadow.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section#reservation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6e0;
}

section#reservation .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#reservation .form {
    margin-bottom: 28px;
}

section#reservation .form>* {
    padding: 0 3rem;
}

section#reservation .form .separator {
    padding: 0;
}

section#reservation .form-wrapper {
    overflow: hidden;
    transition: max-height .7s linear, opacity .7s linear;
    max-height: 400px;
    opacity: 1;
}

section#reservation .form-wrapper.hide {
    max-height: 0;
    opacity: 0;
}

section#reservation .form .title {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}

section#reservation .form .separator {
    margin-top: 6px;
    margin-bottom: 22px;
}

section#reservation .form p {
    margin: 0;
    margin-bottom: 28px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

section#reservation .form .input-wrapper {
    width: 100%;
    max-width: 310px;
    max-height: 70px;
    margin: 0 auto;
    margin-bottom: 12px;
}

section#reservation .form #person-count {
    overflow: hidden;
    transition: max-height .7s cubic-bezier(0.55, 0.085, 0.68, 0.53), margin .7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

section#reservation .form #person-count.hide {
    margin-bottom: 0;
    max-height: 0;
}

section#reservation .form .input-wrapper:last-child {
    margin-bottom: 30px;
}

section#reservation .form label {
    font-size: 12px;
}

section#reservation .form input,
section#reservation .form select,
section#reservation .form textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: thin solid rgb(65, 65, 65);
    background: none;
    padding: 12px 0;
    font-size: 12px;
    font-weight: 300;
    resize: vertical;
    border-radius: 0;
    color: rgb(65, 65, 65);
}

section#reservation .form button {
    margin-top: 22px;
    width: 100%;
    max-width: 310px;
}

section#reservation .form button:disabled {
    cursor: not-allowed;
    background-color: rgb(169, 169, 169);
}

section#reservation .form .response-wrapper {
    padding: 0;
    overflow: hidden;
    transition: max-height .7s linear, opacity .7s linear;
    max-height: 0;
    opacity: 0;
}

section#reservation .form .response-wrapper.show {
    max-height: 200px;
    opacity: 1;
}

section#reservation .form .response-wrapper h3 {
    text-align: center;
    font-size: 14px;
    margin: 0;
    margin-bottom: 16px;
}

section#reservation .form .response-wrapper .responses {
    width: 100%;
    overflow-y: auto;
    text-align: left;
    display: flex;
    gap: 10px;
}

section#reservation .form .response-wrapper .responses .response:first-child {
    margin-left: 10px;
}

section#reservation .form .response-wrapper .responses .response:last-child {
    margin-right: 10px;
}

section#reservation .form .response-wrapper .responses .response {
    background-color: rgb(234, 234, 234);
    padding: 16px 18px;
    padding-bottom: 8px;
    height:90px;
    margin-bottom: 10px;
    border-radius: 12px;

    width: fit-content;
    max-width: 70%;
    flex-grow: 0;
    flex-shrink: 0;

    overflow: hidden;
}

section#reservation .form .response-wrapper .responses .response h1 {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}

section#reservation .form .response-wrapper .responses .response span {
    font-size: 10px;
    font-weight: 300;
    white-space: nowrap;
}

section#reservation .form .response-wrapper .responses .response p {
    text-align: left;
    margin: 0;
    margin-top: 8px;

    overflow: hidden;
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;

    max-height: 3em;
    font-weight: 400;
}

section#reservation .separator {
    margin-bottom: 22px;
}

section#reservation .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#reservation .countdown .countdown-wrapper {
    border-radius: 12px;
    background-color: rgb(65, 65, 65);
    color: white;
    text-align: center;
    padding: 10px 15px;
    margin: 0 4px;
}

section#reservation .countdown .countdown-wrapper .label {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
}

section#reservation .countdown .countdown-wrapper .value {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
}

/* MARK: gift */

section#gift {
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#gift .gift-wrapper {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#gift .gift-wrapper .title {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}

section#gift .gift-wrapper .separator {
    margin-top: 6px;
    margin-bottom: 22px;
}

section#gift .gift-wrapper p {
    margin: 0;
    margin-bottom: 28px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 0 2rem;
}

section#gift .gallery-wrapper {
    width: 100%;
    height: 50%;
    max-height: 540px;
    overflow: hidden;
    padding-bottom: 12px;
}

section#gift .gallery-wrapper .slider {
    display: flex;
    will-change: transform;
    height: 100%;
}

section#gift .gallery-wrapper .slider img {
    height: 100%;
    width: auto;
    border-radius: 28px;
    padding: 0 6px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

/* MARK: closing */

section#closing {
    z-index: 2;

    position: relative;
    background-color: black;
}

section#closing::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
    height: 50vh;

    background-image: url(./assets/closing.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

section#closing .closing-wrapper {
    height: 100%;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(234, 234, 234);
}

section#closing .closing-wrapper>div:first-child {
    padding-top: 60px;
    margin-top: 40px;
    margin-bottom: min(50vh, 680px);
}

section#closing .closing-wrapper>div:last-child {
    margin-bottom: 40px;
}

section#closing p {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 0 3rem;
}

section#closing .separator {
    margin-bottom: 24px;
}

section#closing .separator span {
    background: rgb(234, 234, 234);
}

section#closing .separator span::before,
section#closing .separator span::after {
    border-color: rgb(234, 234, 234);
}

section#closing .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#closing .sign .label {
    font-size: 14px;
    margin: 0;
    margin-bottom: 24px;
}

section#closing .sign .title {
    position: relative;
    font-size: 28px;

    font-family: "Bonheur Royale", cursive;
    font-style: normal;
}

section#closing .sign .title h1 {
    margin: 40px 0;
    padding-right: 28px;
}

section#closing .sign .title::before {
    content: "Gina";
    position: absolute;
    right: 68px;
    top: -10px;

    font-weight: 400;
    font-size: 68px;
}

section#closing .sign .title::after {
    content: "Wildan";
    position: absolute;
    left: 40px;
    bottom: 0px;

    font-weight: 400;
    font-size: 68px;
}

/* MARK: modal */

#modal.opacity {
    opacity: 1;
}

#modal.visibility {
    visibility: visible;
}

#modal {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    will-change: opacity;

    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(234, 234, 234, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal .modal-card {
    width: 100%;
}

#modal .modal-card .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 16px;
    padding: 28px;
    margin: 0 auto;
    color: rgb(234, 234, 234);

    width: 280px;
    aspect-ratio: 415 / 240;
    border-radius: 20px;

    overflow: hidden;
    background: linear-gradient(135deg,
            rgba(8, 8, 8, 0.8),
            rgba(5, 5, 5, 0.8));
    backface-visibility: hidden;
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
}

#modal .modal-card .card::before {
    content: "";
    position: absolute;
    right: -70px;
    top: -90px;
    width: 220px;
    height: 180px;
    border-radius: 40px;

    background: radial-gradient(circle, rgba(255, 158, 2, 0.6) 20%, transparent 90%);
    filter: blur(10px);
    border-radius: 50%;
    pointer-events: none;
}

#modal .modal-card .card:first-child:before {
    background: radial-gradient(circle, rgba(0, 100, 255, 0.6) 20%, transparent 90%);
}

#modal .modal-card .card:first-child {
    margin-bottom: 18px;
}

#modal .modal-card .card h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
}

#modal .modal-card .card .card-number {
    display: flex;
    align-items: center;
}

#modal .modal-card .card .card-number h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

#modal .modal-card .card .card-number button {
    cursor: pointer;
    color: rgb(234, 234, 234);
    background-color: transparent;
    border: thin solid rgb(234, 234, 234);
    padding: 8px 10px;
    margin-left: 12px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal .modal-card .card .card-number button span {
    font-size: 16px;
    margin-right: 4px;
}

#modal .modal-card .card .card-name {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-top: 8px;
}

#modal .modal-card .close {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#modal .modal-card .close span {
    margin-right: 4px;
}