/* MARK: font */

.cursive-font {
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
}

.label-font {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* MARK: general */

body {
    overflow: hidden;
    width: 100vw;
    height: 100dvh;
    margin: 0;
    background: rgb(234, 234, 234);
    color: rgb(65, 65, 65);
}

#main-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 572px;
    margin: 0 auto;
    background: rgb(234, 234, 234);
}

#main-wrapper section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    transition: transform .7s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#main-wrapper section.opened {
    transform: translateY(-100%);
}

/* MARK: separator */

.separator {
  position: relative;
  width: 100%;
  margin: 0;
  height: 5px;
  display: block;
  text-align: center;
}

.separator span {
  display: block;
  position: relative;
  width: 5px;
  height: 5px;
  background: #0d0d0d;
  border-radius: 10px;
  margin: 0 auto;
}

span::before, span::after {
  content: "";
  vertical-align: top;
  border-bottom: 1px solid #0d0d0d;
  position: absolute;
  top: 0;
  right: 9pt;
  height: 2px;
  width: 28px;
}

span::after {
  left: 9pt;
  right: inherit;
}

/* MARK: cover */

section#cover {
    z-index: 9;
}

section#cover .background {
    width: 100%;
}

section#cover .background-wrapper {
    position: absolute;
    top: auto;
    bottom: 0;
}

section#cover .background-wrapper::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 51.5%;
    background-image: url(./assets/cover.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    transform: scaleY(-1);
    transform-origin: top;
}

section#cover .cover-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 310px);
}

section#cover .title-wrapper {
    position: relative;
    top: 0;
    height: 100%;
    max-height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section#cover .title-wrapper .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

section#cover .title-wrapper .headline .label {
    font-size: 14px;
    margin: 0;
    margin-bottom: 36px;
}

section#cover .title-wrapper .headline .title {
    position: relative;
    font-size: 28px;

    font-family: "Bonheur Royale", cursive;
    font-style: normal;
}

section#cover .title-wrapper .headline .title h1 {
    margin: 40px 0;
    padding-right: 28px;
}

section#cover .title-wrapper .headline .title::before {
    content: "Gina";
    position: absolute;
    right: 68px;
    top: -10px;

    font-weight: 400;
    font-size: 68px;
}

section#cover .title-wrapper .headline .title::after {
    content: "Wildan";
    position: absolute;
    left: 40px;
    bottom: 0px;

    font-weight: 400;
    font-size: 68px;
}

section#cover .title-wrapper .invitee .label {
    font-size: 14px;
    margin: 0;
    margin-bottom: 12px;
}

section#cover .title-wrapper .invitee .name {
    font-size: 28px;
    font-weight: 200;
    margin: 0;
}

section#cover .title-wrapper .invitee button {
    cursor: pointer;
    background: rgb(65, 65, 65);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 18px;
    margin-bottom: 10px;
}

/* MARK: opening */

section#opening {
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section#opening .video-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

section#opening .video-wrapper video {
    width: auto;
    height: 60dvh;
    margin-top: 40px;

    border-radius: 20px;
}

section#opening .ayat-wrapper .ayat {
    margin: 0 2rem 18px 2rem;
    font-size: 12px;
    font-weight: 300;
}

section#opening .ayat-wrapper .qs {
    margin: 0;
    margin-bottom: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
